<nav class="navbar">
	<div class="container-fluid">

		<div class="navbar-header">
			<#-- <img src="${ctxPath}/static/img/logo_cust.png"> -->
			<a class="navbar-brand" href="${ctxPath}/index" style="font-weight:bold;font-size:28px;">
				MEE
			</a>
		</div>

		<div id="navbar" class="navbar-collapse collapse">
			<ul id="navbar-menu" class="nav navbar-nav navbar">
				<!-- 顶部菜单区域 -->
			</ul>
			<ul id="userinfo" class="nav navbar-nav navbar-right">
				<li>
					<a href="${ctxPath}/common/user_center" target="_content" title="<@shiro.principal property="user_name"/>" onclick="toUserCenter()">
						<@shiro.principal property="nick_name"/>,你好(^_^)
					</a>
				</li>
		<!--		<li><a href="${ctxPath}/changePwd" style="color: #cecece;font-weight: bold;background-color:#341c59;">修改密码</a></li>-->
				<li>
					<a href="${ctxPath}/logout" class="btn-warning" style="line-height:44px">EXIST</a>
				</li>
			</ul>
	    </div>

	</div>
</nav>