
<!-- 业务-02 -->
<style>
    .banner-02{background-color:#eee;font-weight:bold;color:blue !important;}
    .banner-02>a{color:#11113a;}
</style>
<div class="menu">
    <ul>
        <@shiro.hasPermission name="0201">
        <li>
            <a href="#" class="inactive"><i class="icon-item menu-rights"></i>业务分类01</a>
            <ul style="display:none" class="list-child">

                <@shiro.hasPermission name="020101">
                    <li><a href="${ctxPath}/service/#">业务项01</a></li>
                </@shiro.hasPermission>

                <@shiro.hasPermission name="020102">
                    <li><a href="${ctxPath}/service/#">业务项02</a></li>
                </@shiro.hasPermission>

                <@shiro.hasPermission name="020103">
                    <li><a href="${ctxPath}/service/#">业务项03</a></li>
                </@shiro.hasPermission>

                <@shiro.hasPermission name="020104">
                    <li><a href="${ctxPath}/service/#">业务项04</a></li>
                </@shiro.hasPermission>


            </ul>
        </li>
        </@shiro.hasPermission>

        <@shiro.hasPermission name="0202">
        <li><a href="#" class="inactive"><i class="icon-item menu-system"></i>业务分类02</a>
            <ul style="display:none;">

                <@shiro.hasPermission name="#">
                     <li><a href="${ctxPath}/service/#">业务分类02-功能1</a></li>
                </@shiro.hasPermission>

            </ul>
        </li>
        </@shiro.hasPermission>

        <@shiro.hasPermission name="0203">
        <li>
            <a href="#" class="inactive"><i class="icon-item menu-system"></i>业务分类03</a>
            <ul style="display:none;">

            <@shiro.hasPermission name="#">
             <li><a href="${ctxPath}/sys/dict">业务分类03-功能1</a></li>
            </@shiro.hasPermission>

            </ul>
        </li>
        </@shiro.hasPermission>

    </ul>
</div>