<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <!-- 头部静态: js、css、image -->
    <#include "../../decorator/head.html"/>
    <title>MEE</title>
    <style>
        .content{margin:5% auto;}
        .content h3,h4{text-align:center;}
    </style>
</head>
<body data-catalog="service">
    <!-- 顶部菜单 -->
    <#include "../../decorator/banner.html"/>
    <div class="container-fluid">
        <div  class="content">
            <h3>Welcome to ${applicationName},This is a open platform!</h3>
            <h4><a href="${ctxPath}/sys/menu">=>菜单管理</a></h4>
            <h4><a href="${ctxPath}/sys/user">=>用户管理</a></h4>
            <h4><a href="${ctxPath}/sys/dict">=>字典管理</a></h4>
        </div>
    </div>
</body>
    <!-- 底部静态 -->
<#--
    <#include "../../decorator/foot.html"/>
-->
<style>
    .banner-01{background-color:#dedede;color:black;font-weight:bold;}
    .banner-01>a{color:black;}
</style>
</html>
