<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <#include "../../decorator/head.html"/>
    <title>${applicationName}-系统管理中心</title>
</head>
<body data-catalog="service">
<#include "../../decorator/banner.html"/>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 sidebar">
            <#include "../../decorator/menu/service_menu.html"/>
        </div>
        <div class="col-sm-offset-2 col-sm-10">
            <div class="main">
                <!-- content -->
            </div>
        </div>
    </div>
</div>
</body>
</html>
