<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <#include "../../decorator/head.html"/>
    <title>${applicationName}-系统</title>
</head>
<body data-catalog="service">
<#include "../../decorator/banner.html"/>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 sidebar">
            <#include "../../decorator/sys_menu.html"/>
        </div>
        <div class="col-sm-offset-2 col-sm-10">
            <div class="main">
                <!-- 添加内容 -->
            </div>
        </div>
    </div>
</div>
</body>
<!-- 底部静态 -->
<#--
<#include "../../decorator/foot.html"/>
--%>
<style>

</style>
</html>
