
/* table x轴滑动 */
.table {
  overflow-x: scroll;
}
/* 首列固定 */
td:first-child, th:first-child {
  position:sticky;
  left:0; /* 首行在左 */
  z-index:1;
  background-color:#f1f1f1;
}
/* 最后一列固定 */
td:last-child, th:last-child {
  position:sticky;
  right:0; /* 首行在右 */
  // z-index:1;
  background-color:#f1f1f1;
}
/* 表头颜色置为黑色 */
.table thead tr th{
    background-color:black;
    color:white;
}