/** define your style **/
html,body{font:12pt "Microsoft YaHei",微软雅黑,simhei,SimSun,宋体,arial;margin:0px 0px;height:100%;}

.navbar{margin-bottom: 0;border-radius:0;background-color:black;padding: 0;min-height:0;height:44px;overflow-y:hidden;}
.navbar-header img{float: left;height:45px;}
.navbar-brand{padding: 10px 15px;}
.navbar *{color: #fff;}

#navbar p{line-height: 45px;}
#navbar a{line-height: 45px; padding-top:0!important;padding-bottom:0!important;}

#navbar-menu { font-size: 18px; }
#navbar-menu li.active{background: #fff;}
#navbar-menu li.active a{color: #428bca;font-weight: bold;}
#navbar-menu li.active a:HOVER{background-color: #fff;text-decoration: underline;}

.sidebar {float:left;position:absolute;top:42px;bottom:0px;padding-left:2px;padding-right:2px;display: block;
overflow-x:hidden;overflow-y: auto;background-color:#2f1f48;color:white;/*border-right: 1px solid #eee;*/}
.sidebar li.active{background-color:#4d5369;/*border-right:4px solid white;*/background-image: linear-gradient(to right, #371e5d, #57358e, #b98dfe);;}
.sidebar li.active a{text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);}

/*
.menu {margin: 0;padding: 0;list-style: none;}
.menu li{display: block;padding-left: 20px; line-height: 30px;}
.menu li.header{margin-top: 10px;padding-left: 5px;background-color: #ccc;}
.menu li.header a{color: #000;font-weight: bold;}
*/

/****菜单样式*****/
/*.menu {margin:5px 0 0 0;width:227px;} */
.menu {margin:4px 0 0 0;min-width:160px;}

.menu a:link,a:visited{text-decoration:none;}
.menu ul{list-style:none;padding:0;}
/*.menu ul li{border-bottom: 1px solid #151c40;}*/
.menu ul li a{color:white;padding-left:10px;font-size:12px;font-weight:bold;display:block;height:36px;line-height:36px;position: relative;}
/*
.menu ul li .inactive {background:url(../img/off.gif) no-repeat 192px center;}
.menu ul li .inactives{background:url(../img/on.gif) no-repeat 192px center;}
*/
.menu ul li ul{display: none;}
.menu ul li ul li {
    border-left:0;
    border-right:0;
/*    border-bottom: 1px solid #bcc8ff;
    border-top: 1px solid #fff;*/
    background-color:#341c59;
    /*color: #727272;*/
    }
.menu ul li ul li ul{display: none;}
.menu ul li ul li a{padding-left:20px;color:#ddd;font-weight:normal;}
.menu ul li ul li ul li {background-color:#f4f4f4;}
.last{ background-color:#d6e6f1; border-color:#6196bb;}
.menu ul li ul li ul li a{padding-left:30px;}
/*.menu ul li a .inactive,.inactives {border-bottom:1px solid #ddd;}*/
.menu ul li ul li:last-child {border-bottom:none;}


/** 侧栏菜单基本样式 **/
.list-child {font-size: 14px;font-weight: normal;background-color: #091137;}
.menu .icon-item{font-size: 16px;margin-right:4px;}
.menu ul li a{font-size:14px;}

/** icon 样式 **/
i.menu-rights:before{content:"\f007";color:white;}
i.menu-system:before{content:"\f013";color:white;}
i.menu-other:before{content:"\f01c";color:white;}

.main{margin:12pt 8px 8px 12pt;}

.form-paging, .form-search{background-color: #f5f5f5; padding:8px;}

/*
.loading{height: 100px;width:100%;background: #fff url(../img/loading.gif) no-repeat center center;}
*/
.loading{height:80px;width:80px;margin:8px auto;background:url(../img/loading2.gif);background-size:80px 80px;background-repeat:no-repeat;}

input.date{width:108px;}
input.datetime{width: 150px;}

form.form-horizontal div.group{background-color: #f5f5f5;color:#333;padding:10px 15px;border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;}
div.table-group{margin-bottom: 0;}

.seprator{margin: auto 10px;}

/*
.status-3{background-color: green;color: #fefefe;}
.status-4{background-color: red;color: #fefefe;}
*/
.checkstatus-0{background-color: red;color: #fefefe;}

#data-search{width:100%;}
#data-list{color:black;outline:none;width:100%;}
.hidden-item{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}

/****** dialog *******/
dialog {
    top: -10%;
    /* width: 400px; */
    border-radius:4px;
    border: none;
    padding:16px 16px;
    animation: close_com 0.7s linear 1;
    -webkit-animation: close_com 0.7s linear 1;
    box-shadow: -1px 2px 4px rgba(232,232,232,0.6);
    transition:1s;
}
dialog::backdrop {
    background-color: rgba(240,240,240,0.6);
    backdrop-filter:blur(0.4px);
}
.dialog-header>h4{font-weight:bold;font-size:16pt;}
.dialog-footer{
    text-align:right;
    padding:16px 16px;
    display: inline-block;
    width:100%;
}